! urxvt
URxvt.scrollBar:        false
URxvt.cursorBlink:      true
URxvt.font:             xft:dejavu sans mono:size=10
URxvt.perl-ext-common:  default,url-select
URxvt.colorUL:          #3465a4
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.termName:         rxvt-unicode-256color
*.url-select.launcher:  /usr/bin/firefox -new-tab
*.url-select.underline: true

! xterm
xterm*faceName:         nyc:size=10

! misc
*.foreground:           #eeeeec
*.background:           #111113
*.color0:               #2e3436
*.color1:               #cc0000
*.color2:               #73d216
*.color3:               #edd400
*.color4:               #204a87
*.color5:               #75507b
*.color6:               #3465a4
*.color7:               #babdb6
*.color8:               #555753
*.color9:               #ef2929
*.color10:              #8ae234
*.color11:              #fce94f
*.color12:              #3465a4
*.color13:              #ad7fa8
*.color14:              #729fcf
*.color15:              #d3d7cf
