/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/*
 * misc
 */
* {
  /* font-family: dejavu sans mono !important; */

  /* font-size: 10pt !important; */
}
toolbar {
  -moz-appearance: none !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-left: 0px !important;
}
#main-window:not([disablechrome]) #navigator-toolbox[tabsontop=true] {
  border-style: none !important;
}

/*
 * menu bar
 */
#toolbar-menubar {
  display: none !important;
}

/*
 * navigation toolbar 
 */
#urlbar {
  display: none !important;
}
.ac-comment {
  font-size: 10pt !important;
}
.ac-url-text {
  font-size: 10pt !important;
}
#urlbar-icons > #star-button {
  display: none !important;
}
#go-button {
  display: none !important;
}
.autocomplete-history-dropmarker {
  display: none !important;
}

/*
 * tab bar
 */
#TabsToolbar {
  background: #111113 !important;
}
.tabbrowser-tab {
  border: none !important;
  background: #111113 !important;
  color: #ce5c00 !important;
  height: 16px !important;

  min-height: 0px !important;
  padding: 2px 2px !important;
  font-family: dejavu sans mono !important;
  font-size: 10pt !important;
  font-weight: bold !important;
}
.tabbrowser-tab[selected] {
  /* color: #f57900 !important; */
  color: #fcaf3e !important;
}
.tabbrowser-tab:hover {
  color: #fcaf3e !important;
}
toolbarbutton {
  display: none !important;
}
.tab-icon-image {
  display: none !important;
}
.tab-throbber {
  display: none !important;
}

/*
 * find bar
 */
#find-field-container {
  display: none !important;
}
